* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Raleway", sans-serif;
    display: flex;
    flex-direction: column;
}

html,
body {
    height: 100%;
}

.navbar {
    display: flex;
    color: #59afbe;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.navbar-links {
    display: flex;
    column-gap: 15px;
}

.navbar-links a {
    text-decoration: none;
    color: black;
}

.navbar-links a:hover {
    text-decoration: underline;
    color: #0D7485;
}

.navbar-menu-toggle {
    display: none;
}

/* side navbar*/

.side-navbar {
    background-color: rgba(0, 0, 0, 0.85);
    width: 35%;
    height: 100%;
    position: fixed;
    top: 0;
    left: -60%;
    padding: 20px;
    color: white;
    transition: 0.5s;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.85);
}

.side-navbar-link {
    margin-bottom: 30px;
}

.side-navbar-link a {
    text-decoration: none;
    color: white;
}

.side-navbar-link a:hover {
    text-decoration: underline;
}

/* header */

.header {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 50px;
}

.exb {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    background-color: #59afbe;
    margin-top: 10px;
    border-radius: 10px;
    border: none;
}

.img {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border-radius: 20%;
}

.new-arrival {
    display: flex;
    gap: 10px;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.new-arrival-container {
    position: relative;
    flex-basis: 20%;
    color: white;
}

.new-arrival img{
      border-radius: 10px;
}

.new-arrival button {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
    padding-top: 5%;
    margin-top: 30%;
    color: white;
    background-color: #59afbe;
    position: absolute;
    top: 45%;
    left: 5%;
    border-radius: 10px;
    border: none;
}

.des{
    font-size: 14px;
    margin-top: 5px;
    width: 100px;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 10px;
}


.footer-section {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 40px 0;
    background: #59afbe;
    flex-wrap: wrap;
    gap: 20px;
}

.footer-box {
    width: 250px;
    height: 100px;
    border-radius: 15px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 10px;
    align-items: center;
    padding: 20px;
}

.footer-box h3 {
    margin-top: 20px;
    font-size: 18px;
    color: black;
}

.footer-box p {
    margin-top: 10px;
    font-size: 14px;
    color: black;
}

.footer {
    margin-top: 20px;
    padding: 40;
    margin-left: 40px;
}

.product-section {
    margin-top: 20px;
}

.product-search {
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
    display: flex;
    align-items: center;
    padding: 8px 15px;
    border: 2px solid #333;
    border-radius: 40px;
    background: #fff;
}

.product-search input {
     width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 8px;
}

.product-search i {
     font-size: 18px;
    cursor: pointer;
}

.products {
    padding: 20px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-box {
    text-align: center;
    flex-basis: 20%;
}

.product-box img {
    border-radius: 10px;
}

.contact-section {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

.contact-container {
    background-color: #111827;
    width: 60%;
    padding-left: 40px;
    padding-right: 60px;
    padding-top: 30px;
    padding-bottom: 20px;
    border-radius: 20px;
    color: white;
}

.contact-container h2 {
    margin-bottom: 20px;
    font-size: 28px;
}

label {
    font-size: 18px;
}

input,
textarea {
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
}

button {
    padding: 12px 25px;
    background-color: #1d4ed8;
    border: none;
    color: white;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
}

button:hover {
    background-color: #2563eb;
}

@media screen and (max-width:600px) {
    .navbar-menu-toggle {
        display: block;
    }

    .navbar-links {
        display: none;
    }

    .img {
        display: none;
    }

    .footer-section {
        flex-direction: column;
    }

    .contact-container {
        width: 90%;
    }
}